@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

::after,
::before,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --vh: 100vh; /* fallback */
  }

html {
    max-width: 100%;
    gap: 0;
    height: 100%;
}

body {
    color: #ffffff;
    background-color: #000000;
    font-family: 'Merienda';
    letter-spacing: 1.5px;
}

body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.main-background-container {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: fit-content;
}

.main-background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gradient-bottom-background-img {
    background: linear-gradient(180deg, hsla(201, 78%, 4%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    height: 20px;
    width: 100%;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000910;
}

.div-lists-items-left {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 10%;
    margin-left: 2%;
}

.div-lists-item-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
}

.div-lists-items-right {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
}

.ul-list-left {
    display: flex;
    align-items: center;
    margin: 0 10% 0 5%;
    list-style: none;
    width: 100%;
}

.ul-list-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: fit-content;
}

.list-item-ul {
    display: none;
    margin: 0 3%;
    width: fit-content;
    text-wrap: nowrap;
    cursor: pointer;
    font-weight: bold;
    font-family: 'MuseoModerno';
    font-size: 15px;
    color: #ffffff;
}

.list-item-ul:hover {
    filter: brightness(1.3);
    color: #ffb0b0;
    text-shadow:
        0 0 5px rgba(255, 30, 0, 0.815),
        0 0 15px rgba(255, 98, 50, 0.589);
}

/* Imagenes threeStripes y cross blanca y roja */

.img-stripes-list-item, .img-stripes-list-item-hover{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.img-stripes-list-item-hover {
    opacity: 0;
}

.toggle-label:hover .img-stripes-list-item-hover {
    opacity: 1;
}

.cross-img-submenu, .cross-img-submenu-hover {
    position: absolute;
    opacity: 0;
    width: 100%;
    cursor: pointer;
}

#toggle-menu:checked + .toggle-label .img-stripes-list-item, 
#toggle-menu:checked + .toggle-label .img-stripes-list-item-hover {
    opacity: 0;
}

#toggle-menu:checked + .toggle-label .cross-img-submenu {
    opacity: 1;
}

#toggle-menu:checked + .toggle-label:hover .cross-img-submenu-hover {
    opacity: 1;
}


.see-more-container {
    position: fixed;
    left: 0;
    top: 4rem;
    background-color: #000910;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    font-family: 'MuseoModerno';
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(-100%);
}

.toggle-label {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
}

#toggle-menu:checked ~ .see-more-container {
    display: flex;
    flex-direction: column;
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
}

#toggle-menu:checked .header-title {
    color: #e22020;
}

.header-container-submenu {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.menu-title-submenu {
    font-size: 25px;
    font-family: 'Arial';
}

/*.header-submenu-hr {
    width: 100%;
    background-color: #800000;
    border: none;
    height: 1px;
}*/

.see-more-content {
    height: 10%;
    padding-left: 10%;
}

.see-more-content:hover {
    background-color: #351414;
}

.see-more-content p{
    cursor: pointer;
    width: fit-content;
    padding: 15px 0;
    margin: 0;
    color: #ffffff;
}

.see-more-content p:hover {
    text-decoration: underline;
}

.see-more-content:hover p {
    filter: brightness(1.3);
    color: #a64747;
    text-shadow:
        0 0 5px rgba(255, 30, 0, 0.815),
        0 0 15px rgba(255, 98, 50, 0.589);
}

.see-more-content-a {
    height: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    outline: none;
    color: #000000;
}

.see-more-content-hr {
    border: none;
    height: 1px;
    background-color: #e22020;
    margin: 5% 7%;
}

.see-more-refers-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1% 10%;
}

.see-more-refer {
    position: relative;
    margin: 2% 0;
    width: fit-content;
    font-size: 12px;
}

.see-more-refer::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #e22020;
    transition: width 1s ease;
}

.see-more-refer:hover::after {
    width: 100%;
}

.list-item-ul-logo {
    width: 100%;
    text-wrap: nowrap;
    cursor: pointer;
}

.a-img-list-item {
    display: flex;
    text-decoration: none;
}

.img-icon-see-more-content {
    width: 10%;
    margin: 5% 10%;
}

.img-icon-see-more-content:hover {
    filter: brightness(1.2);
}

.icon-hamburger:hover .img-icon-see-more-content {
    content: url('/Frontend/Web/src/icons/hamburgerRed.png');
}

.icon-offers:hover .img-icon-see-more-content {
    content: url('/Frontend/Web/src/icons/offersRed.png');
}

.icon-rewards:hover .img-icon-see-more-content {
    content: url('/Frontend/Web/src/icons/rewardsRed.png');
}

.icon-find-your-restaurant:hover .img-icon-see-more-content {
    content: url('/Frontend/Web/src/icons/findYourRestaurantRed.png');
}

.contact-us:hover .img-icon-see-more-content {
    content: url('/Frontend/Web/src/icons/contactUsRed.png');
}

.work-with-us:hover .img-icon-see-more-content {
    content: url('/Frontend/Web/src/icons/workWithUsRed.png');
}

.header-title {
    color: #ffffff;
    font-family: 'Merienda';
}

.list-item-ul-button-stripes {
    width: 100%;
    margin-right: 5%;
    display: block;
}

.list-item-ul-button-bag {
    width: fit-content;
}

.list-item-ul-sign-up {
    color: #ffffff;
    font-size: 10px;
    text-wrap: nowrap;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;

}

.list-item-ul-sign-up:hover {
    color: #e22020;
    border: 1px solid #e22020;
}

.button-list-bag {
    display: none;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.img-list-bag {
    width: 100%;
}

.img-list-bag:hover {
    content: url(/Frontend/Web/src/icons/bag.png);
}

.main-text-header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 7%;
    line-height: 1.5;
    background-color: #000910;
    width: 40%;
}

.find-your-restaurant-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    margin-top: 5%;
    gap: 10vw;
}

.title-find-your-rrstaurant {
    padding: 10%;
    color: #ffffff;
    font-size: 7vw;
    font-weight: bold;
}

.find-your-restaurant-card {
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 3px solid #ffffff;
    border-radius: 10px;
    width: 80%;
    background-color: #9f0d0d;
    color: #ffffff;
}

.find-your-restaurant-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 5px solid #ffffff;
    width: 100%;
}

.find-your-restaurant-card-info-container {
    margin: 8%;
}

.find-your-restaurant-title {
    font-size: 6vw;
    color: #ffe8bf;
}

.find-your-restaurant-location {
    margin: 5% 0;
    margin-bottom: 2%;
    font-size: 15px;
    font-family: 'Monospace';
}

.find-your-restaurant-location-city {
    font-size: 16px;
    font-family: 'Monospace';
}

.find-your-restaurant-maps-link {
    font-size: 15px;
    margin-top: 5%;
    text-decoration: underline;
    color: #ffe8bf;
}

.find-your-restaurant-below-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 6%;

}

.find-your-restaurant-below-bar-button {
    padding: 5%;
    background-color: #f2f1f1;
    color: #9f0d0d;
    border-radius: 10px;
    border: none;
    margin: 0 8%;
    text-wrap: nowrap;
    font-weight: 900;
}

.find-your-restaurant-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.find-your-restaurant-icon-img {
    width: 15%;
}

.button-header-order-now {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #e22020;
    border: 1px solid transparent;
    border-radius: 20px;
    width: fit-content;
    min-width: 140px;
    gap: 5%;
    flex-shrink: 0;
}

.button-header-order-now:hover {
    background-color: #a52b2b;
}

.bite-text {
    font-size: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-header-order-now:hover .bite-text {
    color: #ffffff;
}
  
.bite {
    opacity: 0; /* Empieza invisible */
    transform: scale(0.5); /* Inicialmente peque침o */
    transition: all 0.5s ease-out; /* Transici칩n para animaci칩n */
}

.bite-space {
    margin: 0 5px;
}

.button-header-order-now:hover .p-header-order-now {
    color: #ffffff;
}

.p-header-order-now {
    font-size: 100%;
    text-wrap: nowrap;
    color: #e22020;
}

.header-order-now-bag-img {
    width: 20%;
}

.section-delivery-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.delivery-img-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
    margin-top: 10%;
}

.delivery-img {
    position: absolute;
    top: 40px;
    width: 120px;
}

.delivery-title-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15%;
    padding-bottom: 0;
}

.delivery-title {
    font-size: 30px;
    filter: brightness(1.3);
}

.delivery-text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8%;
}

.delivery-text {
    font-size: 16px;
}

.delivery-subtext {
    font-size: 13px;
    padding: 0 10%;
}

.button-delivery-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 1%;
    color: #ffffff;
    background-color: #e22020;
    border: 1px solid transparent;
    border-radius: 20px;
    width: fit-content;
    min-width: 140px;
    margin: 5%;
}



/* Controlar el volteo de la pantalla de 90 o 270 grados en m칩viles y tabletas. */

@media screen and (orientation: landscape) {

    .header {
        transform: translateY(-2%);
    }

    .main-background-img {
        position: relative;
        left: 25%;
        width: auto;
        height: auto;
    }

    .img-stripes-list-item, .img-stripes-list-item-hover{
        width: 70%;
    }

    .cross-img-submenu, .cross-img-submenu-hover {
        width: 70%;
    }

    .img-icon-see-more-content {
        width: 3%;
    }

    .header-order-now-bag-img {
        width: 10%;
    }

    .seccion-general-productos {
        margin-top: 70%;
    }

    .carousel-section {
        margin: 10%;
    }

    .carousel-progress-container {
      width: 10px;
      height: 80%;
      position: absolute;
      right: 10px;
      top: 10%;
      background-color: #252525;
    }
    
    .carousel-progress-bar {
      width: 100%;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #e22020;
      border-radius: 3px;
    }
}


  